.title-general {
  margin: 0;
  font-size: clamp(1.5rem, calc(1.5rem + 1.5 * (100vw - 320px) / 704), 3rem);
  line-height: 1.1;
}

p,
li {
  font-size: clamp(1rem, calc(1rem + 0.4 * (100vw - 320px) / 704), 1.4rem);
  line-height: 1.6;
}
