<div class="forma-sup"></div>

<style>
  .forma-sup {
    position: absolute;
    top: 0;
    right: -25%;
    width: 150vw;
    height: 6.25rem;

    background-color: #3c329c;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
  }

  @media (min-width: 768px) {
    .forma-sup {
      height: 8.1rem;
    }
  }
</style>
